html {
    background-color: rgb(74, 109, 250);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#difficulty {
    text-align: center;
    font-size: 25px;
}

.marge {
    margin : 10px; 
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.soulign {
    text-decoration: underline;
    font-weight: 600;
}

#choix {
    margin-top: 70px;
}